.columns{
    width: 100%;
    height: 504px;
    cursor: pointer;
    position: relative;
    z-index: var(--far);
    display: flex;
    flex-direction: column-reverse;
    gap: 13px
}

.arrow{
    width: 32px;
    object-fit: contain;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    margin: auto;
    transition: none;
}


@media(max-width: 1020px){
    .arrow{
        top: -57px;
    }
}

@media(max-width: 680px){
    .columns{
        height: 266.65px;
        gap: 12.5px;
    }

    .arrow{
        width: 25px;
        top: -35px;
    }
}