.container{
    width: 1110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    margin: 53px auto -30px auto;
}

@media(max-width: 1160px) {
    .container{
        width: 95%;
    }
}

@media(max-width: 1020px){
    .container{
        margin-top: 30px;
        gap: 32px;
    }
}

@media(max-width: 680px){
    .container{
        margin-top: 50px;
        gap: 50px;
        margin-bottom: -10px;
    }
}