.container{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 191px;
    height: 150px;
    position: absolute;
    bottom: -110px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: var(--close);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.timer{
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media(max-width: 680px){
    .container{
        width: 191px;
        height: 150px;
        bottom: -130px;
    }
}