.container{
    display: flex;
    align-items: center;
    gap: 204px
}

.menuButton, .restartButton{
    width: 86px;
    height: 39px;
    border-radius: 20px;
    border: none;
    background: #5C2DD5;
    color: #FFF;
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.logo{
    width: 52px;
    object-fit: contain;
}

.overlay{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: var(--closest);
    top: 0px;
    left: 0px;
    background-color: transparent; 
}

.dialog{
    transform: scale(0);
    width: 480px;
    height: 491px;
    padding: 40px;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 40px;
    border: 3px solid #000;
    background-color: #7945FF;
    box-shadow: 0px 10px 0px 0px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 44px;
}

.continue, .restart, .quit{
    text-transform: uppercase;
    width: 100%;
    height: 72px;
    border-radius: 20px;
    border: 3px solid #000;
    box-shadow: 0px 10px 0px 0px #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-bottom: 30px;
}

.continue, .restart{
    background: #FFF;
    color: black
}

.quit{
    background: #FD6687;
    color: white;
}


@media(max-width: 520px){
    .dialog{
        padding: 30px 20px;
        width: 90%;
    }

    .title{
        margin-bottom: 30px;
    }
}