@font-face {
    font-family: 'space grotesk';
    src: url('./Fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

:root{
    --font: 'space grotesk';
    --farthest: 0;
    --far: 25;
    --close: 50;
    --closest: 75;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

body{
    background-color: #7945FF;
}

body, html{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
