.container{
    width: 100%;
    height: 200px;
    position: fixed;
    z-index: -1;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 60px 60px 0px 0px;
    background-color: #5C2DD5;
    margin: auto;
}
